.button {
  @include reset-button;

  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-width: 3px;
  border-style: solid;

  padding-top: 15px;
  padding-bottom: 15px;
  width: 280px;
  border-radius: 50px;
  text-align: center;

  &--reset {
    color: #dddfe0;
  }

  &--submit {
    color: $main-accent-color;
  }

  &--download {
    @include reset-link;

    color: #ffffff;
  }

  &--form-submit {
    color: #ffffff;
    background-color: $submit-default-color;
    line-height: 30px;

    padding-top: 16.5px;
    padding-bottom: 16.5px;
    border-radius: 7px;
  }
}
