.contact {
  text-align: center;
  padding-top: 40px;
}

.contact__address {
  display: flex;
  flex-direction: column;
}

.contact__lead {
  margin: 0;
  color: $text-default-color;
  font-style: normal;
  font-size: 24px;
}

.contact__action {
  margin: 0;
  color: $text-default-color;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

.contact__detail {
  margin: 0;
  color: $main-accent-color;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .contact__address {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact__block {
    margin: auto;
  }
}
