.description {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $bg-accent-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -30px;
    width: 0;
    height: 0;
    border-bottom: 30px solid $bg-accent-color;
    border-left: 100vw solid transparent;
  }
}

.description__intro {
  text-align: center;
  margin-bottom: 35px;
}

.description__tagline {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: $text-default-color;
}

.description__lead {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.description__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $text-default-color;
}

.description__content {
  @include reset-list;

  background-color: $bg-accent-color;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.description__item {
  margin-bottom: 35px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.description__image {
  height: 280px;
  width: 100%;
  background-color: $bg-accent-color;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
}


@media (min-width: $tablet-width) {
  .description {
    padding-top: 50px;
  }

  .description__tagline {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    &--break {
      width: 340px;
    }
  }

  .description__image {
    width: 310px;
    min-height: 481px;
    margin-top: -45px;
    background-size: 268px 545px;
    background-color: transparent;
    z-index: 50;
  }

  .description__intro {
    margin-bottom: 95px;
  }

  .description__wrap {
    flex-direction: row;
    align-items: flex-end;

    &::after {
      top: -50px;
      border-bottom-width: 50px;
    }
  }

  .description__content {
    order: 1;
    text-align: left;
    padding-top: 0;
    margin-bottom: 10px;
    width: auto;
  }

  .description__item {
    width: 310px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    padding-top: 65px;
  }

  .description__intro {
    margin-bottom: 175px;
  }

  .description__image {
    display: none;
  }

  .description__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 870px;
  }

  .description__item {
    margin-left: 0;
    margin-right: 0;
    width: 230px;
    position: relative;

    &::before {
      position: absolute;
      top: -358px;
      left: -28px;
      z-index: 50;
      content: "";
      width: 292px;
      height: 302px;
      background-repeat: no-repeat;
    }

    &--one {
      &::before {
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
      }
    }
    &--two {
      &::before {
        background-image: url("../img/iphone-screen-2-desktop@1x.png");
      }
    }
    &--three {
      &::before {
        background-image: url("../img/iphone-screen-3-desktop@1x.png");
      }
    }
  }

  .description__tagline {
    font-size: 50px;
    line-height: 60px;

    &--break {
      width: 420px;
    }
  }

  .description__lead {
    font-size: 30px;
    line-height: 30px;
    width: 225px;
    margin-bottom: 25px;
  }

  .description__text {
    font-size: 18px;
    line-height: 30px;
  }

  .description__wrap {
    &::after {
      top: -95px;
      border-bottom-width: 95px;
    }
  }
}
