.feed {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .feed {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .feed li {
    margin-right: 20px;
  }

  .feed li:nth-of-type(3n+2) {
    margin-left: auto;
  }

  .feed li:nth-of-type(3n+4) {
    margin-right: auto;
  }
}
