.form {
  display: flex;
  flex-direction: column;
}

.form__name,
.form__options,
.form__contact,
.form__app {
  @include reset-fieldset;
}

.form__block {
  padding-top: 30px;
  padding-bottom: 42px;
  background-color: $bg-default-color;

  &--accent {
    background-color: $bg-accent-color;
  }
}

.form__name-list {
  @include reset-list;
}

.form__options-list {
  @include reset-list;
}

.form__contact-list {
  @include reset-list;
}

.form__app-list {
  @include reset-list;
}

.form__legend {
  color: $main-accent-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
}

.form__checkbox-label {
  color: $text-default-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.form__radio-label {
  color: $text-default-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.form__feedback {
  font: inherit;
  color: $text-default-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  border: 2px solid $border-default-color;
  border-radius: 2px;
  resize: none;

  &::placeholder {
    color: $text-default-color;
  }
}

.form__instruction {
  margin: 0;
  color: $text-default-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &--accent {
    color: $main-accent-color;
  }
}

@media (min-width: $tablet-width) {
  .form__block {
    &--name {
      order: 1;
    }

    &--app {
      order: 2;
    }

    &--contact {
      order: 3;
    }

    &--options {
      order: 4;
    }

    &--feedback {
      order: 5;
    }

    &--submit {
      display: flex;
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form__block {
    &--name {
      width: 50%;
    }

    &--app {
      width: 50%;
    }

    &--contact,
    &--options,
    &--feedback,
    &--submit {
      width: 100%;
    }
  }
}
