.intro__image {
  min-height: 237px;

  background-color: #2c3c4c;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro__tagline {
  margin: 0;
  padding-top: 95px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: $text-contrast-color;
}

.intro__description {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: $text-default-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
