.navigation {
  background-color: $text-default-color;
  color: $text-contrast-color;
}

.navigation__list {
  @include reset-list;
}

.navigation__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  text-align: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation__item:first-of-type {
  display: flex;
  justify-content: space-between;

  padding-top: 22.5px;
  padding-bottom: 22.5px;
  padding-left: 20px;
  padding-right: 20px;
}

.navigation__link {
  @include reset-link;

  display: block;
  width: 100%;
  height: 100%;
}

.navigation__button {
  background: none;
  border: none;
  padding: 0;
  color: transparent;
  font-size: 0;

  &--burger {
    width: 50px;
    height: 24px;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
  }

  &--close {
    width: 24px;
    height: 23px;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .navigation__item:first-of-type {
    align-items: flex-end;
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  .navigation__item {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .navigation__item:first-of-type {
    padding: 0;
  }

    .navigation__button {
    display: none;
  }

  .navigation__item {
    border: none;
  }
}
