.navigation {
  background-color: $text-default-color;
  color: $text-contrast-color;
}

.navigation__list {
  @include list-reset;
}

.navigation__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  text-align: center;
}

.navigation__item:first-of-type {
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  @include link-reset;
}

.navigation__button {
  background: none;
  border: none;
  padding: 0;
  color: transparent;
}

.navigation__button--burger {
  width: 50px;
  height: 24px;
  background-image: url("../../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
}

.navigation__button--close {
  width: 24px;
  height: 23px;
  background-image: url("../../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
}
