.post {
  line-height: 0;

  &--panorama {
    position: relative;
  }
}

.post__panorama-title {
  color: $text-contrast-color;
  background-color: $main-accent-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;

  position: absolute;
  top: 0;
  right: 20px;
  text-align: center;
  display: block;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.post__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post__body {
  background-color: $bg-accent-color;
  color: $text-default-color;

  margin-bottom: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.post__author {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.post__time {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.post__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .post {
    width: 300px;

    &--panorama {
      width: 100%;
    }
  }
}
