.post {
  @include reset-list;
}

.post__panorama-title {
  color: $text-contrast-color;
  background-color: $main-accent-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}

.post__body {
  background-color: $bg-accent-color;
  color: $text-default-color;

  margin-bottom: 20px;
}

.post__author {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.post__time {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.post__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .post {
    display: flex;
    flex-wrap: wrap;
  }

  .post__item {
    width: 300px;

    &--panorama {
      width: 100%;
    }
  }
}
