.post {
  line-height: 0;

  &--panorama {
    position: relative;
  }
}

.post__panorama-title {
  color: $text-contrast-color;
  background-color: $main-accent-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;

  position: absolute;
  top: 0;
  right: 20px;
  text-align: center;
  display: block;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.post__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post__body {
  background-color: $bg-accent-color;
  color: $text-default-color;

  margin-bottom: 22px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.post__author {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
  padding-top: 15px;
  display: inline-block;
}

.post__time {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  display: inline-block;
  text-transform: uppercase;
}

.post__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .post__picture {
    width: 300px;
    height: 300px;
    margin-left: 20px;

    &--panorama {
      height: 509px;
      width: 660px;
      margin-left: auto;
    }
  }

  .post__body {
    width: 300px;
    min-height: 155px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;

    &--panorama {
      width: 620px;
      margin-left: auto;
      margin-bottom: 50px;
      min-height: 121px;
      flex-direction: row;
    }
  }

  .post__panorama-title {
    top: 57px;
  }

  .post__author {
    order: 1;
    padding-top: 20px;
    margin-left: 25px;
  }

  .post__time {
    margin-left: 5px;
  }

  .post__text {
    order: 2;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }

  .post__body--panorama .post__text {
    order: 3;
  }
}
