.prices {
  background-color: $bg-accent-color;
  padding-top: 50px;
  padding-bottom: 50px;
}

.prices__slide-list {
  @include list-reset;

  display: flex;
  flex-direction: row;
}

.prices__heading {
  background-color: $text-default-color;
  color: $text-contrast-color;
  border-left: 2px solid $border-default-color;
  border-right: 2px solid $border-default-color;
  text-align: center;
}

.prices__tariff {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.prices__price {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.prices__option {
  margin: 0;
  color: $text-default-color;
  background-color: $bg-default-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  border-left: 2px solid $border-default-color;
  border-right: 2px solid $border-default-color;
  border-bottom: 2px solid $border-default-color;
}

@media (min-width: $tablet-width) {
  .prices .slider {
    display: none;
  }
}
