.reviews__list {
  @include reset-list;

  display: flex;
  flex-direction: row;
}

.reviews__item {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
}

.reviews__name {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  margin: 0;
  color: $text-default-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $desktop-width) {
  .reviews .slider {
    display: none;
  }
}
