doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title HTML Academy: Пинк
  body.page
    header.header
      a(href="index.html")
        img.logo(src="http://placehold.it/75x22" width="75" height="22" alt="Пинк")
      nav.navigation
        button.navigation__burger-button(type="button")
        button.navigation__close-button(type="button")
        ul.navigation__list
          li.navigation__item
            a(href="index.html") Главная
          li.navigation__item
            a(href="photo.html") Фотографии
          li.navigation__item Конкурс
          li.navigation__item
            a(href="https://htmlacademy.ru/" target="_blank") HTML Academy

    main.main
      h1.visually-hidden Регистрация на конкурс
      section.intro
        h2.intro__tagline Конкурс на самое безбашенное путешествие с Пинк
        p.intro__description Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:

      form.form(action="https://echo.htmlacademy.ru" method="post")
        fieldset.form__name
          legend.visually-hidden Фамилия, имя, отчество
          label.form__label Фамилия:
          input.form__input(type="text" placeholder="Укажите фамилию *" required)
          label.form__label Имя:
          input.form__input(type="text" placeholder="Введите ваше имя *" required)
          label.form__label Отчество:
          input.form__input(type="text" placeholder="Ну и отчество тоже")

        fieldset.form__options
          legend.form__legend Ваши безбашенные достижения в путешествии
          ul.form__options-list
            li.form__options-item
              input.form__checkbox-input(type="checkbox" name="achievements" id="shark" value="shark" checked)
              label.form__checkbox-label(for="shark") Сделал селфи с акулой
            li.form__options-item
              input.form__checkbox-input(type="checkbox" name="achievements" id="sunburn" value="sunburn" checked)
              label.form__checkbox-label(for="sunburn") Обгорел на пляже
            li.form__options-item
              input.form__checkbox-input(type="checkbox" name="achievements" id="chuck" value="chuck")
              label.form__checkbox-label(for="chuck") Видел Чака Норриса
            li.form__options-item
              input.form__checkbox-input(type="checkbox" name="achievements" id="souvenir" value="souvenir")
              label.form__checkbox-label(for="souvenir") Накупил сувениров
            li.form__options-item
              input.form__checkbox-input(type="checkbox" name="achievements" id="tower" value="tower" checked)
              label.form__checkbox-label(for="tower") Удержал башню
            li.form__options-item
              input.form__checkbox-input(type="checkbox" name="achievements" id="hotel" value="hotel")
              label.form__checkbox-label(for="hotel") Разгромил отель

        fieldset.form__contact
          legend.visually-hidden Контактные данные
            label.form__label Номер телефона
            input.form__input(type="tel" placeholder="Номер, пожалуйста")
            label.form__label адрес почты
            input.form__input(type="email" placeholder="Введите почту *" required)

        fieldset.form__app
          legend.form__legend С каким приложением путешествовали?
          ul.form__app-list
            li.form__app-item
              input.form__radio-input(type="radio" name="app" id="ios" value="ios" checked)
              label.form__radio-label(for="ios") Pink для iOS
            li.form__app-item
              input.form__radio-input(type="radio" name="app" id="android" value="android")
              label.form__radio-label(for="android") Pink на Android
            li.form__app-item
              input.form__radio-input(type="radio" name="app" id="windows-phone" value="windows-phone")
              label.form__radio-label(for="windows-phone") Windows Phone

        label.form__legend(for="feedback") Опишите свои эмоции
        textarea.form__feedback(name="feedback" id="feedback" placeholder="Можно прям в красках, не стесняясь в выражениях")

        button.button.form__submit-button(type="submit") Отправить форму
        p.form__instruction * — обязательные поля

    footer.footer
      img.footer__logo(src="http://placehold.it/147x40" width="147" height="40" alt="Пинк")

      ul.social
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="http://placehold.it/19x14" width="19" height="14" alt="Twitter")
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="http://placehold.it/9x18" width="9" height="18" alt="Facebook")
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="http://placehold.it/15x13" width="15" height="13" alt="YouTube")

      div.copyright
        p.copyright__text Разработано
        img.copyright__icon(src="http://placehold.it/27x34" width="27" height="34" alt="HTML Academy")
