doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title HTML Academy: Пинк
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body.page
    header.header
      nav.navigation
        ul.navigation__list
          li.navigation__item
            img(src="img/logo-pink-white-mobile.svg" alt="Пинк" height="22" width="75").logo
            button.navigation__button.navigation__button--close(type="button") Открыть/закрыть меню
          li.navigation__item Главная
          li.navigation__item
            a.navigation__link(href="photo.html") Фотографии
          li.navigation__item
            a.navigation__link(href="form.html") Конкурс
          li.navigation__item
            a.navigation__link(href="https://htmlacademy.ru/intensive/adaptive" target="_blank") HTML Academy

    main.main
      h1.visually-hidden Пинк
      section.get-app
        h2.visually-hidden Ссылки на приложение
        div.get-app__image
        div.get-app__content
          p.get-app__tagline Взгляните на жизнь иначе!
          a.button.get-app__download(href="#") Скачать приложение
          ul.get-app__list
            li.get-app__list-item
              a(href="#").get-app__icon.get-app__icon--apple Apple
            li.get-app__list-item
              a(href="#").get-app__icon.get-app__icon--android Android
            li.get-app__list-item
              a(href="#").get-app__icon.get-app__icon--windows Windows
          p.get-app__description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8

      section.description
        h2.visually-hidden Описание услуг
        div.description__intro
          p.description__tagline Устали от серости мегаполиса?
          p.description__tagline Нам есть, что вам предложить!
        div.description__wrap
          ul.description__content
            li.description__item
              p.description__lead Поднимает настроение
              p.description__text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
            li.description__item
              p.description__lead Меняет мир вокруг
              p.description__text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
            li.description__item
              p.description__lead Заводит новых друзей
              p.description__text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
          div.description__image

      section.effect
        div.effect__image
        div.effect__content
          h2.effect__tagline Эффект на 24 часа!
          p.effect__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
          a.effect__link Узнать больше об исследовании

      section.reviews
        h2.visually-hidden Отзывы
        ul.reviews__list
          li.reviews__item
            p.reviews__name Николай Петров
            p.reviews__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
          li.reviews__item
            p.reviews__name Николай Петров
            p.reviews__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
          li.reviews__item
            p.reviews__name Николай Петров
            p.reviews__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
        div.slider
          input.slider__control.slider__control--active(type="radio" name="reviews-slider" value="0" checked)
          input.slider__control(type="radio" name="reviews-slider" value="1")
          input.slider__control(type="radio" name="reviews-slider" value="2")

      section.prices
        h2.visually-hidden Тарифы
        ul.prices__slide-list
          li.prices__slide-item
            div.prices__heading
              p.prices__tariff База
              p.prices__price 1,99 USD
            p.prices__option.prices__option--true Розовый фильтр
            p.prices__option.prices__option--false Смайлики
            p.prices__option.prices__option--false Комментарии
          li.prices__slide-item
            div.prices__heading
              p.prices__tariff Стандарт
              p.prices__price 3,99 USD
            p.prices__option.prices__option--true Розовый фильтр
            p.prices__option.prices__option--true Смайлики
            p.prices__option.prices__option--false Комментарии
          li.prices__slide-item
            div.prices__heading
              p.prices__tariff Анлим
              p.prices__price 9,99 USD
            p.prices__option.prices__option--true Розовый фильтр
            p.prices__option.prices__option--true Смайлики
            p.prices__option.prices__option--true Комментарии
        div.slider
          input.slider__control.slider__control--active(type="radio" name="prices-slider" value="0" checked)
          input.slider__control(type="radio" name="prices-slider" value="1")
          input.slider__control(type="radio" name="prices-slider" value="2")

      section.contact
        h2.visually-hidden Контакты
        p.contact__lead Остались вопросы? Свяжитесь с нами!
        address.contact__address
          div.contact__block
            p.contact__action Звоните:
            p.contact__detail +7 (812) 555-66-66
          div.contact__block
            p.contact__action Пишите:
            p.contact__detail mail@htmlacademy.ru
          div.contact__block
            p.contact__action Приезжайте в гости:
            p.contact__detail ул. Большая Конюшенная, 19/8
        iframe(src="https://yandex.ru/map-widget/v1/-/CBBfmSdwWA" width="100%" height="200" frameBorder="0")

    footer.footer.footer--index
      a(href="index.html")
        img.footer__logo(src="img/logo-pink-blue-mobile.svg" width="147" height="40" alt="Пинк")

      ul.social
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="img/icon-twitter.svg" width="19" height="14" alt="Twitter")
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="img/icon-facebook.svg" width="9" height="18" alt="Facebook")
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="img/icon-youtube.svg" width="15" height="13" alt="YouTube")

      div.copyright
        p.copyright__text Разработано
        a(href="https://htmlacademy.ru/intensive/adaptive" target="_blank")
          img.copyright__icon(src="img/logo-htmlacademy.svg" width="27" height="34" alt="HTML Academy")
|
|
