doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title HTML Academy: Пинк
  body.page
    header.header
      img.logo
      nav.navigation
        button.navigation__burger-button(type="button")
        button.navigation__close-button(type="button")
        ul.navigation__list
          li.navigation__item Главная
          li.navigation__item Фотографии
          li.navigation__item Конкурс
          li.navigation__item HTML Academy

    main.main
      h1.visually-hidden Фотографии
      section.intro
        h2.intro__tagline Фотографии пользователей
        p.intro__description Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

    footer.footer
      img.footer__logo

      ul.social
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="http://placehold.it/19x14" width="19" height="14")
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="http://placehold.it/9x18" width="9" height="18")
        li.social__item
          a.social__link(href="#")
            img.social__icon(src="http://placehold.it/15x13" width="15" height="13")

      div.copyright
        p.copyright__text Разработано
        img.copyright__icon(src="http://placehold.it/27x34" width="27" height="34")
