doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title HTML Academy: Пинк
  body.page
    header.header
      img.logo
      nav.navigation
        button.navigation__burger-button(type="button")
        button.navigation__close-button(type="button")
        ul.navigation__list
          li.navigation__item Главная
          li.navigation__item Фотографии
          li.navigation__item Конкурс
          li.navigation__item HTML Academy
